.video-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    background-color: #ECE5DD;
    font-family: 'Helvetica Neue', sans-serif;
    // padding: 10px;
    
  header {
    background-color: #404bbe;
    color: white;
    width: 100%;
  }
  
    .video-wrapper {
      position: relative;
      width: 100%;
      height: 50vh;
      overflow: hidden;
  
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .name-tag {
        position: absolute;
        bottom: 10px;  /* Adjust the position as needed */
        left: 10px;    /* Adjust for the name to appear on the left side */
        color: white;  /* Choose a color that is visible on your video */
        background-color: rgba(0, 0, 0, 0.5); /* Optional: for better visibility */
        padding: 5px;
        border-radius: 5px;
      }
      
      .participant-container {
        position: relative; /* This is important for absolute positioning of name tags */
      }
  
      .controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        // background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background for visibility
        z-index: 10; // Ensure this is higher than the video element's z-index
        button {
            background: none;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
    
            &:hover {
              background-color: rgba(255, 255, 255, 0.2); // Optional: slight background on hover for better visibility
            }
    
            svg {
              color: white; // Adjust the color as needed
              width: 24px; // Adjust the size as needed
              height: 24px; // Adjust the size as needed
            }
          }
      }
    }
  
    @media (min-width: 768px) {
      .video-wrapper {
        height: 70vh;
      }
    }
  }
  